{% extends 'base.html.twig' %}

{% block title %}Edit Purchases{% endblock %}

{% block body %}
    <h1>Edit Purchases</h1>

    {{ include('purchases/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_purchases_index') }}">back to list</a>

    {{ include('purchases/_delete_form.html.twig') }}
{% endblock %}
