{% extends 'base.html.twig' %}

{% block title %}New Purchases{% endblock %}

{% block body %}
    <h1>Create new Purchases</h1>

    {{ include('purchases/_form.html.twig') }}

    <a href="{{ path('app_purchases_index') }}">back to list</a>
{% endblock %}
