{% extends 'base.html.twig' %}

{% block title %}ProductCategories index{% endblock %}

{% block body %}
    <h1>ProductCategories index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product_category in product_categories %}
            <tr>
                <td>{{ product_category.id }}</td>
                <td>
                    <a href="{{ path('app_product_categories_show', {'id': product_category.id}) }}">show</a>
                    <a href="{{ path('app_product_categories_edit', {'id': product_category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_product_categories_new') }}">Create new</a>
{% endblock %}
