{% extends 'base.html.twig' %}

{% block title %}New ProductCategories{% endblock %}

{% block body %}
    <h1>Create new ProductCategories</h1>

    {{ include('product_categories/_form.html.twig') }}

    <a href="{{ path('app_product_categories_index') }}">back to list</a>
{% endblock %}
